.issuebook{
    background-image: linear-gradient(to right,white,grey);
    display: flex;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.issuebook .card{
    min-width: 40%;
    align-items: center;
    background-color: transparent;
    box-shadow: 10px 10px #888888;
}
.issuebook input{
    width: 80%;
    border: none;
    border: 1px solid rgb(182, 175, 175);
    background-color: transparent;
    outline: none;
}

.issuebook .addbtn{
    border: none;
    background-image: linear-gradient(to right, white,grey);
    font-weight: 600;
    color: white;
}

.showissuebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.showissuebook table,th,td{
    border: 1px solid #888888;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
  }
 
.showissuebook tr:nth-child(even){
    background-color:#e9dcdc;
}
.showissuebook tr:hover{
    background-color: #e9dcdc;
}

.showissuebook th {
    background-color: rgb(139, 133, 133);
    color: white;
  }
.showissuebook .returnbtn{
   background-color: cadetblue;
   color: white;
}